Source: ros-kinetic-tracetools
Section: misc
Priority: extra
Maintainer: Ingo Luetkebohle <ingo.luetkebohle@de.bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-tracetools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Wrapper interface for tracing libraries
